:root {
  --bg: #ffffff;
  --text: #000000;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
a :hover {
  color: rgba(0, 160, 146, 1);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-header {
  background: #f58021;
  height: 110px; /* как в Figma */
  display: flex;
  align-items: center; /* вертикально по центру */
}

.header-row {
  display: flex;
  align-items: center;
  width: 100%;
}

/* правый блок (меню + соц) уходит вправо */
.links-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 65px; /* расстояние между меню и иконками */
}

/* меню */
.nav {
  display: flex;
  align-items: center;
  gap: 48.25px; /* расстояние между пунктами */
}

/* соц. блок */
.social {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* убираем белые круги (если они были) */
.social a {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
}
.social img {
  width: 40px; /* подгоняй под Figma */
  height: 40px;
}
